<div ng-include=" '/templates/nav.html' " ></div>
<br/>
<h2>Home</h2>
<br/>
<div class="post">
  <h2 style="display: inline;">rp_network</h2>
  <button style="display: inline; float: right;">Edit</button>
  <hr/>
  <center>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim nulla ac malesuada sollicitudin. Aenean pulvinar mauris sapien. Sed eu augue metus. Vivamus eu convallis felis, et iaculis nibh. Integer ex quam, sagittis eget nulla id, ultricies pretium justo. Sed maximus finibus urna. Maecenas condimentum dictum magna quis consectetur. Morbi lobortis interdum erat, a aliquam nunc pharetra quis. Phasellus a ullamcorper libero. Fusce nec erat lorem. In auctor egestas ex, et dapibus massa semper ac. Fusce sit amet nulla dui. </p>
  </center>
  <p class="font-weight-bold"><i class="fa fa-heart-o" aria-hidden="true"></i> 22 Likes</p>
  <form>
    <input type="text" placeholder="Enter a comment" style="width: 75%;"><input type="submit" value="Submit">
  </form>
</div>
<br/>
<br/>
<div class="post">
  <h2 style="display: inline;">rp_network</h2>
  <button style="display: inline; float: right;">Edit</button>
  <hr/>
  <img src="http://www.mapcruzin.com/free-world-maps/political_world1080x597.jpg" style="max-width:100%; max-height: 75%;"/>
  <center>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim nulla ac malesuada sollicitudin. Aenean pulvinar mauris sapien. Sed eu augue metus. Vivamus eu convallis felis, et iaculis nibh. Integer ex quam, sagittis eget nulla id, ultricies pretium justo. Sed maximus finibus urna. Maecenas condimentum dictum magna quis consectetur. Morbi lobortis interdum erat, a aliquam nunc pharetra quis. Phasellus a ullamcorper libero. Fusce nec erat lorem. In auctor egestas ex, et dapibus massa semper ac. Fusce sit amet nulla dui. </p>
  </center>
  <p class="font-weight-bold"><i class="fa fa-heart-o" aria-hidden="true"></i> 22 Likes</p>
  <form>
    <input type="text" placeholder="Enter a comment" style="width: 75%;"><input type="submit" value="Submit">
  </form>
</div>
<div class="post">
  <h2 style="display: inline;">rp_network</h2>
  <button style="display: inline; float: right;">Edit</button>
  <hr/>
  <center>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim nulla ac malesuada sollicitudin. Aenean pulvinar mauris sapien. Sed eu augue metus. Vivamus eu convallis felis, et iaculis nibh. Integer ex quam, sagittis eget nulla id, ultricies pretium justo. Sed maximus finibus urna. Maecenas condimentum dictum magna quis consectetur. Morbi lobortis interdum erat, a aliquam nunc pharetra quis. Phasellus a ullamcorper libero. Fusce nec erat lorem. In auctor egestas ex, et dapibus massa semper ac. Fusce sit amet nulla dui. </p>
  </center>
  <p class="font-weight-bold"><i class="fa fa-heart-o" aria-hidden="true"></i> 22 Likes</p>
  <form>
    <input type="text" placeholder="Enter a comment" style="width: 75%;"><input type="submit" value="Submit">
  </form>
</div>
