<div ng-include=" '/templates/nav.html' " ></div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="post col-md-8 webcontent">
    <h2 style="display: inline;">rp_network</h2>
    <button style="display: inline; float: right;">Edit</button>
    <hr/>
    <center>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim nulla ac malesuada sollicitudin. Aenean pulvinar mauris sapien. Sed eu augue metus. Vivamus eu convallis felis, et iaculis nibh. Integer ex quam, sagittis eget nulla id, ultricies pretium justo. Sed maximus finibus urna. Maecenas condimentum dictum magna quis consectetur. Morbi lobortis interdum erat, a aliquam nunc pharetra quis. Phasellus a ullamcorper libero. Fusce nec erat lorem. In auctor egestas ex, et dapibus massa semper ac. Fusce sit amet nulla dui. </p>
    </center>
    <p class="font-weight-bold"><i class="fa fa-heart-o" aria-hidden="true"></i> 22 Likes</p>
  </div>
  <div class="col-md-4 post webcontent" style="overflow-y: scroll; height: 600px;">
    <div class="comment">
      <p class="font-weight-bold">generic_comment:</p><p>This is a comment</p>
    </div>
    <div class="comment">
      <p class="font-weight-bold">generic_comment:</p><p>This is a comment that goes past the div</p>
    </div>
    <form>
      <div>
        <input type="text" placeholder="Enter a comment" style="width: 75%;"><input type="submit" value="Submit">
      </div>
    </form> 
  </div>
</div>
